<header class="menu">
  <nav class="menu__nav">
    <ul class="menu__ul">
      <li class="menu__item">
        <a href="index.html" class="menu__item-a"> Home </a>
      </li>
      <li class="menu__item">
        <a href="services.html" class="menu__item-a"> Services </a>
      </li>
    </ul>
  </nav>
</header>